<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Pantalla Principal</title>
</head>
<body>
    <div class="home-container">
        <img src="/static/logo.png"">
        <h1>¡Bienvenido!</h1>
        <p>Es un gusto verte de nuevo</p>
        <button id="goToVideoBtn">Acceder</button>
    </div>

    <script>
        document.getElementById('goToVideoBtn').onclick = function() {
            window.location.href = '/video';
        }
    </script>
</body>
</html>
